.footer-img {
  width: 20px;
  height: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  position: static;
  margin-top: 40px;
}

.footer-left {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
  margin-top: 20px;
}

.footer-right p {
  font-size: 14px;
  padding: 20px;
}

.creator {
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
  }
  .footer-img {
    width: 20px;
    height: 20px;
  }
}
