.services-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
  min-height: 82vh;
}

.services-container p {
  text-align: left;
  margin: 0 15%;
}

.offer-list li {
  margin-bottom: 10px;
  font-size: 18.5px;
  list-style: circle;
  font-family: "Source Sans 3", sans-serif;
}

.offer-list {
  text-align: left;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1600px) {
  .services-container p {
    margin: auto;
  }
}

hr {
  width: 30%;
}
